
/__pycache__/
**/__pycache__/
**/__pycahce__/
/config.json
**/__pycahce__/
*.wav
/ffmpeg/
/SplitMe/
/_demucs/__pycache__/
.claude
.venv
.gitignore
dist/
frontend/dist/
data/
release/WWD
build/
frontend/build/
frontend/node_modules/
tmp_stems/
tmp_stems_silence/
frontend/electron-dev-run.log
backend-run.log
frontend/electron-dev-run.log
frontend/electron-dev-run.log
backend-run.log
splitme-launch.log
backend-run.log
electron-dev-run.log
splitme-launch.log
frontend/electron-dev-run.log
